<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112955010383-iae80ctp8q6d23jl05resd2a8g4h63nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112955010383-iae80ctp8q6d23jl05resd2a8g4h63nn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>112955010383-4qdle269eqntsgvn55ciir6t89levk3j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYvIpVTqlE6hUW7bVmC9kUm5_Q-cyd4Rw</string>
	<key>GCM_SENDER_ID</key>
	<string>112955010383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashleybailey.rotarysantatracker</string>
	<key>PROJECT_ID</key>
	<string>rotarysantatracker</string>
	<key>STORAGE_BUCKET</key>
	<string>rotarysantatracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112955010383:ios:e4876b29e65c1ea0f4293a</string>
</dict>
</plist>